@charset "utf-8";

body {
    margin: 0;
    display: block;
    background-color: #fff;
}

div {
    display: block;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, strong, span {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    font-family: "Malgun Gothic","맑은 고딕","돋움",dotum,"굴림",gulim,Arial,sans-serif,"Apple SD Gothic Neo";
    font-size: 13px;
    letter-spacing: -0.2px;
}

#container {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0 40px;
    background-color: #fff;
}

#container:after, #container:before {
    display: block;
    overflow: hidden;
    clear: both;
    content: "";
}

.head {
    margin: 16px 12px 12px;
    clear: both;
    position: relative;
    text-align: left;
}

.head h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #0f0f0f;
    letter-spacing: -0.8px;
    margin: 0;
    padding: 0;
}

.subhead {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #0f0f0f;
    letter-spacing: -0.8px;
    margin-bottom: 10px;
    padding: 0;
}

.title_area {
    border: 1px solid gainsboro;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.button_wrap button {
    font-size: 13px;
    font-weight: bold;
    color: #0f0f0f;
    letter-spacing: -0.8px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    background: #fff;
    cursor: pointer;
}

.button_wrap #submit {
	background: rgb(240, 240, 240);
}