@charset "utf-8";

body {
    margin: 0;
    display: block;
    background-color: #fff;
}

div {
    display: block;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, strong, span {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    font-family: "Malgun Gothic","맑은 고딕","돋움",dotum,"굴림",gulim,Arial,sans-serif,"Apple SD Gothic Neo";
    font-size: 13px;
    letter-spacing: -0.2px;
}

#container {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 0 60px;
}

#container:after, #container:before {
    display: block;
    overflow: hidden;
    clear: both;
    content: "";
}

.mypage_wrap {
    position: relative;
    margin: 20px auto;
    width: 1100px;
    clear: both;
}

.side_area {
    float: left;
    width: 226px;
    height: 600px;
    border: 1px solid #e0e0e0;
    margin: 0 32px 0 0;
}

.user_area {
    padding: 16px 20px;
}

.my_thumb {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.my_thumb .p_img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.my_thumb .p_img img {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: top;
    border: 0 none;
}

.my_info {
    margin: 11px auto 7px;
    text-align: center;
    padding: 0;
}

.my_info .p_nick {
    font-size: 13px;
    color: #0f0f0f;
    margin: 0;
    padding: 0;
}

.my_info .p_id {
    font-size: 13px;
    color: #666;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.my_btn {
    margin-top: 14px;
    text-align: center;
}

.my_btn a {
    text-decoration: none;
}

.btn_profile {
    display: inline-block;
    padding: 1px 9px 1px;
    border: 1px solid #bfbfbf;
    font-size: 12px;
    color: #666;
    letter-spacing: -0.1em;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.side_area ul {
    padding-inline-start: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.menu_lst {
    margin: 0;
    padding: 0;
}

.menu_lst dt span {
    display: block;
    margin-top: 14px;
    padding: 18px 0 0 20px;
    border-top: 1px solid #e0e0e0;
    font-size: 17px;
    color: #0f0f0f;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.menu_lst a {
    display: block;
}

.menu_lst dd {
    display: block;
    margin-inline-start: -40px;
}

.menu_lst dd a {
    padding: 10px 0 0 20px;
    font-size: 14px;
    color: #666;
}

.menu_lst dd ul {
    margin: 6px 0 18px;
}

.menu_lst dt a {
    padding: 14px 0 0 20px;
    border-top: 1px solid #e0e0e0;
    font-size: 17px;
    color: #0f0f0f;
    font-weight: bold;
}

.cont_area {
    width: 840px;
    float: left;
    margin: 0;
    padding: 0;
}

#link2 {
    color: #2964e0;
    font-weight: bold;
    text-decoration: none;
}

.cont_area {
    width: 840px;
    float: left;
    margin: 0;
    padding: 0;
}

.box {
    padding-bottom: 10px;
}

.head {
    margin: 16px 0 12px;
    clear: both;
    position: relative;
}

.head h2 {
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    color: #0f0f0f;
    letter-spacing: -0.8px;
    margin: 0;
    padding: 0;
}

.b_count {
    display: inline-block;
    font-size: 16px;
    color: #0f0f0f;
    vertical-align: 1px;
}

.cont {
    position: relative;
    clear: both;
}

.cont:after, .cont:before {
    display: block;
    overflow: hidden;
    clear: both;
    content: "";
}

#MyWishListUl {
    border-top: 1px solid #666;
}

.cont .head {
    margin: 16px 0 12px;
    clear: both;
    position: relative;
}

.vw_opt li {
    float: left;
    margin: 0 0 0 12px;
}

.vw_opt li .item {
    color: #999;
    font-size: 14px;
}

.ctrl_box {
    width: 820px;
    height: 30px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    background: #fafafa;
}

.clear {
    clear: both;
}

.clear:after, .clear:before {
    display: block;
    overflow: hidden;
    clear: both;
    content: "";
}

.ctrl_box .left_a {
    margin-top: 3px;
}

.ctrl_box .chk {
    margin: 3px 20px 0 0;
}

input[type="checkbox"] + label {
    color: #666;
}

.ctrl_box .chk, .ctrl_box {
    float: left;
}

.left_a .btn_s {
    display: inline-block;
    height: 21px;
    padding: 0 8px;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
    color: #666;
    border: 1px solid #bfbfbf;
    background: #fff;
    letter-spacing: 0;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

.tbl {
    clear: both;
    width: 840px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-width: 1px 0;
    border-color: #bfbfbf;
    border-style: solid;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.th_blind {
    display: none;
}

.tbl tbody td {
    text-align: center;
    padding: 14px 0;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    letter-spacing: -.02em;
}

.tbl .check {
    width: 40px;
    text-align: right;
}

.tbl .chk {
    float: right;
    width: 17px;
    height: 17px;
}

tbody td.img {
    padding: 14px 12px;
}

.prod_link {
    display: block;
    position: relative;
    text-align: left;
    min-height: 80px;
    color: #333;
}

.blind {
    display: none;
}

tbody td.info {
    width: 410px;
    text-align: left;
    padding: 12px 22px 12px 10px;
}

td.info .tit .link {
    font-size: 17px;
    color: #0f0f0f;
    font-weight: bold;
    letter-spacing: -0.6px;
}

td.info .spec {
    margin: 11px 0;
}

td.info .spec dd {
    max-height: 64px;
    overflow: hidden;
}

td.info .spec dd {
    max-height: 64px;
    overflow: hidden;
}

td.info .spec a {
    color: #919191;
    font-size: 12px;
    letter-spacing: -0.2px;
}

td.info .sub_info {
    font-size: 13px;
    letter-spacing: -0.2px;
}

td.info .sub_info dt, td.info .sub_info dd {
    display: inline;
    color: #666;
}

.sub_info dl {
    float: left;
}

tbody .lowest {
    position: relative;
    text-align: right;
    padding-right: 60px;
}

em {
    font-style: normal;
}

.price {
    color: #0f0f0f;
    font-size: 13px;
    font-weight: bold;
}

tbody .lowest .num {
    font-size: 18px;
}

.price .num {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
}

.wish_tbl .btn_delete {
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 11px;
    right: 25px;
    width: 13px;
    height: 13px;
}

.wish_tbl .btn_delete .ico {
    width: 13px;
    height: 13px;
    background-position: -105px -66px;
    text-indent: -9999px;
    font-size: 0;
    vertical-align: top;
}

.ico {
    display: inline-block;
    background: url(//img.danawa.com/img/mypage/bg.png) no-repeat;
}

.co_paginate {
    position: relative;
    text-align: center;
    width: 840px;
    height: 28px;
    margin: 20px 0;
}

.co_paginate ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.co_paginate .now {
    color: #0f0f0f;
    font-weight: bold;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    line-height: 27px;
    width: 26px;
    height: 26px;
}