<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/mainSearchResult.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="fragments/header :: header"></th:block>
        <input type="hidden" id="idKey" name="idKey" th:value="${session.idKey}">
        <div id="container" class="searchResult_wrap">
            <div class="prod_result">
                <div class="head" align="left">
                    <h3>노트북 검색 결과</h3>
                    <span class="count">( [[${prodList.totalElements}]] )</span>
                </div>
                <table id="prod_list">
                    <thead style="display: none;">
                        <tr>
                            <th class="image">썸네일</th>
                            <th class="info">제품명, 상세스펙</th>
                            <th class="price">가격</th>
                            <th class="wish">관싱삼품</th>
                        </tr>
                    </thead>
                    <tr th:each="prod: ${prodList}">
                        <td class="image">
                            <a th:href="@{'/notebook/info/' + ${prod.id}}" target="_blank">
                            	<img th:src="${prod.image}" th:alt="${prod.name}">
                            </a>
                        </td>
                        <td class="info">
                            <h3><a th:href="@{'/notebook/info/' + ${prod.id}}" target="_blank">[[${prod.name}]]</a></h3>
                            <p>[[${prod.spec}]]</p>
                            <p class="regDate">등록월 [[${prod.regDate}]]</p>
                        </td>
                        <td class="price">
                            <p><strong>[[${#numbers.formatInteger(prod.price, 0, 'COMMA')}]]</strong>원</p>
                        </td>
                        <td class="wish">
                            <a href="javascript:void(0)" th:onclick="|javascript:wish('${prod.id}')|">관심등록</a>
                        </td>
                    </tr>
                </table>
                
                <div class="nothing" th:if="${prodList.totalElements == 0}" align="center">
                	<p>검색어에 해당하는 상품이 없습니다.</p>
                </div>
                
                <nav th:if="${prodList.totalElements != 0}" style="text-align: center;">
					<ul class="pagination" th:with="start=${T(java.lang.Math).floor(prodList.number / 10) * 10 + 1}, last=(${start + 9 < prodList.totalPages ? start + 9 : prodList.totalPages})">
				        <li>
				            <a th:href="@{/search(keyword=${keyword},page=1)}" aria-label="First">
				                <span aria-hidden="true">First</span>
				            </a>
				        </li>
				
				        <li th:class="${prodList.first} ? 'disabled'">
				            <a th:href="${prodList.first} ? 'javascript:void(0)' :@{/search(keyword=${keyword},page=${prodList.number})}" aria-label="Previous">
				                <span aria-hidden="true">&lt;</span>
				            </a>
				        </li>
				
				        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == prodList.number + 1} ? 'active'">
				            <a th:text="${page}" th:href="@{/search(keyword=${keyword},page=${page})}"></a>
				        </li>
				
				        <li th:class="${prodList.last} ? 'disabled'">
				            <a th:href="${prodList.last} ? 'javascript:void(0)' : @{/search(keyword=${keyword},page=${prodList.number + 2})}" aria-label="Next">
				                <span aria-hidden="true">&gt;</span>
				            </a>
				        </li>
				
				        <li>
				            <a th:href="@{/search(keyword=${keyword},page=${prodList.totalPages})}" aria-label="Last">
				                <span aria-hidden="true">Last</span>
				            </a>
				        </li>
				    </ul>
				</nav>
            </div>

            <div class="board_result">
                <div class="head" align="left">
                    <h3>자유게시판 검색 결과</h3>
                    <span class="count">( [[${boardList.size}]] )</span>
                    <span><a th:href="@{/board/free/search(keyfield=title,keyword=${keyword})}" class="btn_more">더보기</a></span>
                </div>
                <table class="tbl freeBoard_tbl">
                    <thead class="th">
                        <tr>
                            <th scope="col" class="title">제목</th>
                            <th scope="col" class="author">작성자</th>
                            <th scope="col" class="date">작성일</th>
                            <th scope="col" class="view">조회수</th>
                            <th scope="col" class="like">추천수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${boardList}">
                            <td class="title"><a th:href="@{'/board/free/view/' + ${post.id}}"><span id="subject">[[${post.title}]]</span></a><span id="comment" th:if="${post.comment != 0}">[[${post.comment}]]</span></td>
                            <td class="author" th:text="${post.nickname}"></td>
                            <td class="date" th:text="${post.regDate}"></td>
                            <td class="view" th:text="${post.view}"></td>
                            <td class="like" th:text="${post.like}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="nothing" th:if="${boardList.size == 0}"><p>검색 결과가 없습니다.</p></div>
            </div>
        </div>
        
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
    
<script>
function wish(prodIdInput) {
	if($("#idKey").val() == "") {
		alert("로그인 후 이용 가능합니다.");
		return false;
	}
	
	$.ajax({
		type: 'POST',
		url: '/members/wish/register',
        data: {"prodId": prodIdInput},
        success: function(msg) {
            alert(msg);
        }
	});
}
</script>
</body>
</html>