<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/secedeMember.css}">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="container">
            <div id="header">
                <a href="/" class="logo">
                    <img src="http://guide.danawa.com/pcweb/download/danawa_RGB.png">
                </a>
                <h2 class="logo-txt">회원 탈퇴</h2>
            </div>

            <div class="check_top">
				<h3 class="title">아래 내용을 확인해주시기 바랍니다.</h3>
				<p class="txt">1. 탈퇴한 아이디는 재사용 및 복구가 불가능합니다.</p>
				<p class="txt">2. 다나와 회원을 탈퇴하여도 그동안 작성한 게시물과 댓글은 삭제되지 않습니다.<br/>
					삭제를 원하는 경우 회원 탈퇴 전 직접 삭제해야 합니다.</p>
			</div>

            <div class="check_content">
				<form action="/members/secede" method="post">
					<input type="hidden" name="url" value="https://auth.danawa.com/modifyMember">
					<div class="chk_form">
						<div class="chk_txt">아이디</div>
						<div class="chk_info" th:text="${session.idKey}"></div>
					</div>
					<div class="chk_form">
						<div class="chk_txt"><label for="pwd">비밀번호</label></div>
						<div class="chk_info">
							<input type="password" id="pwd" name="pwd" class="chk_pw_ipt">
							<input type="hidden" id="msg" name="msg" th:value="${msg}">
						</div>
					</div>
				</form>
			</div>

            <div class="btn_wrap">
				<a href="/members/modifyMember" class="btn_submit cancel">취소</a>
				<a href="javascript:void(0)" class="btn_submit accept" onclick="return checkForm()">확인</a>
			</div>
        </div>
    </div>
    
<script type="text/javascript">
if($("#msg").val() != "") {
	alert($("#msg").val());
}

function checkForm() {
	if($(".chk_pw_ipt").val() == "") {
		alert("비밀번호를 입력하세요.");
		return false;
	}
	else {
		$("form").submit();
		return true;
	}
}
</script>
</body>
</html>